.trip-assist-app-cancel_credit-card {
    font-size: 1rem;
}

/*CANCEL BOOKING EMAIL MODAL*/
.trip-assist-cancel-booking-email-modal_container{
    width: 800px;
    max-width: 800px;
}
.trip-assist-cancel-booking-email-modal_header-title{
    font-weight: 700;
}
.trip-assist-cancel-booking-email-modal_footer{
    border-top-width: 1px;
}
.trip-assist-cancel-booking-email-modal_header{
    border-bottom-width: 1px;
}
.trip-assist-cancel-booking-email-modal_button-neutral{
    color: #066c78;
}
.trip-assist-cancel-booking-email-modal_button-destructive{
    background-color: #b73f38;
}