.build-single-prices_last-update {
    font-style: italic;
}


@keyframes animation-texture-frames {
    0%   {
        background-position: 0 0;
    }
    100% {
        background-position: 64px 0;
    }
}
.build-single-prices_animation-texture {
    animation: animation-texture-frames 1s linear infinite;
}