.build-single-prices_last-update {
    font-style: italic;
}


.build-single-prices_status {
    background-color: #999999;
    color: white;
}
.build-single-prices_succeeded {
    background-color: #7ab648;
}
.build-single-prices_failed {
    background-color: #c92d39;
}
.build-single-prices_info {
    background-color: #dcc414;
}

@keyframes animation-texture-frames {
    0%   {
        background-position: 0 0;
    }
    100% {
        background-position: 64px 0;
    }
}
.build-single-prices_animation-texture {
    animation: animation-texture-frames 1s linear infinite;
}