.create-stripe-ach_stripe-logo{
    fill: #6871E5;
    height: var(--lwc-squareIconLargeContent, 2rem);
    width: 4.3rem;
    margin-left: -0.4rem;
}

.create-stripe-ach_stripe-lock {
    fill: #6871e5;
    height: var(--lwc-squareIconLargeContent, 2rem);
    width: var(--lwc-squareIconLargeContent, 2rem);
    background-color: #e1e3fa;
    border-radius: 3px;
    padding: var(--lwc-spacingXSmall, 0.5rem);
}

.create-stripe-ach_button-link {
    text-decoration: underline !important;
    display: inline-block;
    text-transform: uppercase;
    color: var(--tho-colorBrandSecondary) !important;
}

.create-stripe-ach_text-container{
    max-width: 80ch;
}